[submodule "evolver"]
	path = evolver
	url = https://gitpub.wei.wisc.edu/botts1/evolver/evolver-server.git
[submodule "dpu"]
	path = dpu
	url = https://gitpub.wei.wisc.edu/botts1/evolver/dpu.git
[submodule "evolver-arduino"]
	path = evolver-arduino
	url = https://gitpub.wei.wisc.edu/botts1/evolver/evolver-arduino.git
[submodule "evolver_plan"]
	path = evolver_plan
	url = https://gitpub.wei.wisc.edu/botts1/evolver/evolver-plan.git
